<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<% include partials/template/header.ejs %>

  	<section class="layout">
  		<div class ="primary">
  			<% include partials/content/whoarewe.ejs %>
  			<% include partials/content/getbusy.ejs %>
  			<% include partials/content/whoshouldcome.ejs %>
  		</div>
  		<aside class="secondary">
  			<div>This is the secondary main idea </div>
  		</aside>
  	</section>

  	<% include partials/template/footer.ejs %>


  </body>
</html>
